body {
      text-align: center;
      background-color: black;

    #cronometro-container {
      position: relative;
      font-size: 0;
    }

    .texto-cronometro {
      font-size: 20px;
      color: white;
      position: absolute;
      margin-top: 100px;
    }

    #meses { left: 35%; }
    #dias { left: 42%; }
    #horas { left: 48%; }
    #minutos { left: 54%; }
    #segundos { left: 61%; }

    #cronometro {
      font-size: 90px;
      margin-top: 50px;
    }
}
@media only screen and (min-width: 388px) and (max-width: 600px){
  body {
    text-align: center;
  
    #meses { left: 3%; }
    #dias { left: 25%; }
    #horas { left: 48%; }
    #minutos { left: 70%; }
    #segundos { left: 95%; }

  }
}
@media only screen and (min-width: 601px) and (max-width: 900px) {
  body{
    text-align: center;

    #meses { left: 5%; }
    #dias { left: 26%; }
    #horas { left: 45%; }
    #minutos { left: 64%; }
    #segundos { left: 84%; }
  }


}
@media only screen and (max-width: 388px){
body{
  text-align: center;

    #meses { left: 3%; }
    #dias { left: 30%; }
    #horas { left: 60%; }
    #minutos { left: 90%; }
    #segundos { left: 120%; }
}
}